# Ignore local history and VS Code settings
.history/
.vscode/

# Ignore Python system junk
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore temporary test/junk files you don't want on GitHub
test.ipynb
weights RWC.png