# Python temporary files
__pycache__/
*.py[cod]

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings (optional, but good practice)
.vscode/